@import "grid.css";
@import "../fonts/font-awesome.css";
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
/*css*/
/*variables*/
/*end variables*/
html,
body {
  background: #1c1c1c;
  font: 14px/21px Arial, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #858484;
  min-width: 300px;
}
* {
  -webkit-text-size-adjust: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
.a-hov,
.text-1 a {
  transition: all 0.4s ease;
}
.a-hov:hover {
  color: #d52b38;
}
.text-1 a:hover {
  color: #000000;
}
ul li a {
  transition: all 0.4s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 60px;
  line-height: 60px;
  padding-top: 60px;
  text-align: center;
}
h3 {
  font-size: 20px;
  line-height: 26px;
  color: #d52b38;
  font-weight: bold;
  padding-top: 27px;
  padding-bottom: 17px;
}
.title-1 {
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #fff;
}
.title-2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #d52b38;
  padding-top: 70px;
}
.title-3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 26px;
  padding-bottom: 27px;
}
.text-1 {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #d52b38;
  padding-bottom: 13px;
}
.text-2 {
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 8px;
}
.text-3 {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  padding-bottom: 13px;
}
.color-1 {
  color: #fff;
}
h2 + .text-3 {
  padding-top: 27px;
}
h2.v1 {
  color: #d52b38;
}
p + .text-1 {
  padding-top: 7px;
}
.arrow {
  font-size: 34px;
  line-height: 21px;
  color: #1c1c1c;
  text-align: right;
  margin-top: 5px;
}
.arrow i:hover {
  color: #fff;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  height: 56px;
  line-height: 56px;
  width: 260px;
  font-size: 25px;
  margin-top: 34px;
}
.btn:hover {
  border-color: #d52b38;
  color: #a3a3a3;
}
.link {
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
  margin-top: 47px;
}
.link-1 {
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
  margin-top: 47px;
  font-weight: bold;
}
.link-2 {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.link-2:hover {
  color: #d52b38;
}
.list li + li {
  margin-top: 0px;
}
.list li a:hover {
  color: #f74f42;
}
/*auxiliary*/
.img-ind {
  float: left;
  margin-right: 34px;
  margin-top: 0px;
}
.wrapper {
  width: 100%;
  position: relative;
}
.extra-wrap {
  overflow: hidden;
}
.grid_inside {
  margin: 0 -10px;
}
.aligncenter {
  text-align: center !important;
}
.alignleft {
  text-align: left !important;
}
.it {
  font-style: italic;
  display: inline-block;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.h-underline:hover {
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}
.upp {
  text-transform: uppercase;
}
.transition {
  transition: all 0.4s ease;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.pad-left {
  padding-left: 30px;
}
p {
  padding-bottom: 21px;
}
.img-circle {
  float: left;
  margin-right: 30px;
}
.img-circle img {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
/************Header************/
h1 {
  float: left;
}
/************Content***********/
.content {
  background: #ffffff;
  padding-bottom: 80px;
}
.bg-1 {
  background: url(../images/bg-1.jpg) center 0 no-repeat;
  padding-bottom: 46px;
}
.bg-2 {
  background: #1b1b1b url(../images/bg-2.gif) center 0 no-repeat;
  padding-bottom: 82px;
}
.block-1 {
  text-align: center;
}
.block-1 .title-1 {
  padding-top: 158px;
}
.block-1 .text-1 {
  padding-top: 24px;
  width: 88%;
  margin: 0 auto;
  color: #fff;
}
.block-3 {
  margin-top: 99px;
}
.block-2 {
  background: #d52b38;
  color: #fff;
  margin-top: 30px;
}
.block-2 img {
  float: left;
}
.block-2 .inside {
  padding: 13px 19px;
}
.date {
  text-transform: uppercase;
  display: inline-block;
  background: #1c1c1c;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}
.block-4 {
  text-align: center;
}
.box-1 {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.box-1 i {
  color: #fff;
  font-size: 22px;
  margin-left: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.box-1:hover {
  color: #d52b38;
}
.box-1:hover i {
  color: #d52b38;
}
.b-btn {
  text-align: center;
}
.block-5 {
  margin-top: 3px;
}
.box-2 {
  margin-top: 30px;
}
.box-2 .text-1 {
  padding-top: 30px;
}
.block-6 {
  text-align: center;
  width: 88%;
  margin: 0 auto;
}
.block-7 > .box-2 .text-1 {
  padding-top: 70px;
  color: #000000;
}
.block-7 > .box-2 .text-1 a:hover {
  color: #d52b38;
}
.box-3 {
  position: relative;
}
.box-3 .abs {
  position: absolute;
  right: 0;
  top: 0;
}
.block-8 {
  margin-top: 5px;
}
.box-3 {
  margin-top: 30px;
}
.gallery {
  margin-top: 6px;
}
.box-4 {
  margin-top: 29px;
}
.box-4 .inside {
  background: #d52b38;
}
.box-4 .inside span {
  display: inline-block;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0 0 10px;
}
.box-4 .inside a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.box-4 .inside a:hover {
  color: #000;
}
.box-5 {
  text-align: center;
  margin-top: 34px;
}
.box-5 .inside {
  padding: 0 10px;
}
.box-5 .i {
  color: #d52b38;
  font-size: 55px;
  line-height: 58px;
}
.box-5 .text-3 {
  margin-top: 18px;
}
a.arrow {
  font-size: 22px;
  line-height: 29px;
  color: #858484;
  margin-left: 5px;
}
a.arrow:hover i {
  color: #d52b38;
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.block-9 {
  margin-top: -10px;
}
.p-privacy h2 {
  padding-bottom: 28px;
  text-align: left;
}
/************Footer************/
footer {
  padding-bottom: 50px;
}
.f-list {
  margin-top: 42px;
}
.f-list li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  margin-left: 27px;
}
.f-list li a {
  color: #fff;
}
.f-list li a:hover,
.f-list li a.active {
  color: #d52b38;
}
.list-services {
  text-align: right;
  position: relative;
  margin-top: 27px;
}
.list-services li {
  display: inline-block;
}
.list-services li i {
  line-height: 42px;
  font-size: 42px;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
[class*="list-services-"] {
  text-decoration: none;
  display: inline-block;
  margin-left: 29px;
}
[class*="list-services-"]:hover i {
  color: #d52b38;
}
.f-center {
  margin-top: 35px;
  font-size: 13px;
  line-height: 21px;
  color: #858484;
}
.copyright {
  color: #d52b38;
  margin-top: 35px;
}
/*toTop*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  cursor: pointer;
  overflow: hidden;
  width: 35px;
  height: 37px;
  border: none;
  z-index: 20;
  margin-right: -670px !important;
  right: 50%;
  bottom: 20px;
}
#toTop:after {
  content: "\f01b";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #d52b38;
}
#toTop:hover:after {
  color: #e9e9e8;
}
#toTop:active,
#toTop:focus {
  outline: none;
}
/*touch-touch*/
.magnifier {
  position: relative;
  display: block;
  background: url(../images/magnifier.png) center center no-repeat #000000;
}
.magnifier img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.magnifier:hover img {
  opacity: 0.4;
}
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media (min-width: 1220px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 1220px) {
  .block-2 .text-2 {
    font-size: 20px;
    line-height: 24px;
  }
  .block-2 img {
    width: 40%;
  }
  .box-2 .img-circle {
    width: 40%;
  }
  .box-2 .img-circle img {
    width: 100%;
  }
  .box-4 .inside {
    padding-bottom: 10px;
  }
  .box-4 .inside .date,
  .box-4 .inside span {
    float: none;
  }
  .box-4 .inside span {
    display: block;
  }
}
@media only screen and (max-width: 995px) {
  h1 {
    width: 25%;
  }
  h1 img {
    width: 100%;
  }
  .f-list li {
    margin-left: 0;
    margin-right: 27px;
  }
  .f-top .fleft,
  .f-top .fright {
    float: none;
  }
  .block-7 > .box-2 .text-1 {
    padding-top: 10px;
  }
  .box-3 .abs {
    position: relative;
  }
  .box-2 .text-1 {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    width: auto;
  }
  h1 img {
    width: auto;
  }
  .block-1 .title-1 {
    padding-top: 100px;
  }
  .block-3 {
    margin-top: 50px;
  }
  .bg-1 {
    background-size: auto 100%;
  }
  .f-list li {
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
  }
  .list-services li i {
    font-size: 30px;
    line-height: 30px;
  }
  .box-4 .inside span {
    display: inline-block;
  }
  .box-4 .inside {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 479px) {
  h1 {
    width: 100%;
  }
  h1 img {
    width: 100%;
  }
  .block-1 .title-1 {
    font-size: 50px;
    line-height: 50px;
    padding-top: 50px;
  }
  .block-2 img {
    width: 100%;
  }
  .title-2 {
    font-size: 50px;
    line-height: 50px;
  }
  .box-2 .img-circle {
    width: 100%;
    float: none;
  }
  .box-2 {
    text-align: center;
  }
  .box-2 + .box-2 {
    margin-top: 60px;
  }
  .f-list li {
    font-size: 14px;
    line-height: 16px;
  }
  .logo img {
    width: 100%;
  }
  .box-4 .inside .date,
  .box-4 .inside span {
    float: none;
  }
  .box-4 .inside span {
    display: block;
  }
  h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .box-4 .inside {
    padding-bottom: 10px;
  }
}
/*Core variables and mixins*/
