* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
  margin-bottom: 1rem;
}

img {
  width: 200px;
  height: auto;
  border: 2px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  margin-right: 1rem;
}

p {
  padding: 10px;
}

aside {
  width: 320px;
  margin: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2); /* why use rgba instead of hex here? */
  padding: 16px;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 250px;
  height: auto;
}

p { padding: 0;}

footer {
  margin-top: 16px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #d4f1f8;
  color: #2613d3;
}

aside {
  width: 20em;
  text-align: center;
}

main img {
  float: right;
}

aside h2 {
  position: absolute;
  left: 120px;
}